<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eJournal_WebClient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eJournal_WebClient.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
    <div id="wrapper">
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <a href="index.html" class="logo">
                    <span class="symbol"><img src="~/img/try.png" alt="" /></span><span class="title">Try eJournal</span>
                </a>

                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a asp-area="" asp-page="/Home">Home</a></li>
                <li ><a asp-area="" asp-page="/About">About</a></li>
                <li ><a asp-area="" asp-page="#">Groups</a></li>
                <li ><a asp-area="" asp-page="/Explore">Explore</a></li>
                <li ><a asp-area="" asp-page="/Privacy">Privacy</a></li>
                <li><a asp-page="/ArticlePages/Index">Article</a></li>
            </ul>
        </nav>
        <div id="main">
            <div class="inner">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>

    <footer id="footer">
        <div class="inner">
            &copy; 2023 - eJournalClient- TryTeam PRN231 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script>
    function redirectToLoginPage() {
        // Redirect the user to the login page
        window.location.href = "/Login"; // Replace "login.html" with the actual URL of your login page
    }
</script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>