@page
@model eJournal_WebClient.Pages.ArticlePage.IndexModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Papers</title>
    <link rel="stylesheet" href="~/css/article.css"/>
    
</head>

<body>
    <div class="container">
        <div class="paper">
            <h2>Paper Title 1</h2>
            <p><strong>Authors:</strong> Author 1, Author 2</p>
            <p>
                <strong>Abstract:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at
                consectetur mi.
            </p>
            <a class="download-link" href="paper1.pdf" target="_blank">Download PDF</a>
        </div>

        <div class="paper">
            <h2>Paper Title 2</h2>
            <p><strong>Authors:</strong> Author 3, Author 4</p>
            <p>
                <strong>Abstract:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at
                consectetur mi.
            </p>
            <a class="download-link" href="paper2.pdf" target="_blank">Download PDF</a>
        </div>
        <div class="paper">
            <h2>Paper Title 3</h2>
            <p><strong>Authors:</strong> Author 3, Author 4</p>
            <p>
                <strong>Abstract:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at
                consectetur mi.
            </p>
            <a class="download-link" href="paper2.pdf" target="_blank">Download PDF</a>
        </div>
        <div class="paper">
            <h2>Paper Title 4</h2>
            <p><strong>Authors:</strong> Author 3, Author 4</p>
            <p>
                <strong>Abstract:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at
                consectetur mi.
            </p>
            <a class="download-link" href="paper2.pdf" target="_blank">Download PDF</a>
        </div>

        <!-- More papers can be added dynamically based on the data -->

    </div>
</body>

</html>