@page
@model eJournal_WebClient.Pages.IssuePage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Issue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Issue.Volumn" class="control-label"></label>
                <input asp-for="Issue.Volumn" class="form-control" />
                <span asp-validation-for="Issue.Volumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.Description" class="control-label"></label>
                <input asp-for="Issue.Description" class="form-control" />
                <span asp-validation-for="Issue.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.DateRelease" class="control-label"></label>
                <input asp-for="Issue.DateRelease" class="form-control" />
                <span asp-validation-for="Issue.DateRelease" class="text-danger"></span>
            </div>
            @if (!string.IsNullOrEmpty(@Model.ErrorMessage))
            {
                <div style="color: red; margin-bottom: 5px">*@Model.ErrorMessage</div>
            }
            @*  <div class="form-group">
                <label asp-for="Issue.CreationDate" class="control-label"></label>
                <input asp-for="Issue.CreationDate" class="form-control" />
                <span asp-validation-for="Issue.CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.CreatedBy" class="control-label"></label>
                <input asp-for="Issue.CreatedBy" class="form-control" />
                <span asp-validation-for="Issue.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.ModificationDate" class="control-label"></label>
                <input asp-for="Issue.ModificationDate" class="form-control" />
                <span asp-validation-for="Issue.ModificationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.ModificationBy" class="control-label"></label>
                <input asp-for="Issue.ModificationBy" class="form-control" />
                <span asp-validation-for="Issue.ModificationBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.IsDelete" class="control-label"></label>
                <input asp-for="Issue.IsDelete" class="form-control" />
                <span asp-validation-for="Issue.IsDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.DeletionDate" class="control-label"></label>
                <input asp-for="Issue.DeletionDate" class="form-control" />
                <span asp-validation-for="Issue.DeletionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.DeletedBy" class="control-label"></label>
                <input asp-for="Issue.DeletedBy" class="form-control" />
                <span asp-validation-for="Issue.DeletedBy" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   

}
